{% extends "base.html" %}

{% block title %}Create Job | Work Hub{% endblock %}

{% block content %}
<section class="section" style="max-width:620px;margin:40px auto;">

    <div class="section-head">
        <h1 class="section-title">Create Vacancy</h1>
    </div>

    <article class="card form-card">

        <form method="post" class="form-layout">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label class="form-label">
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.errors %}
                        <div class="form-error">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="form-actions">
                <a href="{% url 'job_list' %}" class="btn btn-ghost">
                    Cancel
                </a>

                <button type="submit" class="btn">
                    Publish Job
                </button>
            </div>

        </form>

    </article>

</section>
{% endblock %}
