{% extends "base.html" %}
{% load static %}

{% block title %}Register | Work Hub{% endblock %}

{% block content %}
<section class="section" style="max-width:460px;margin:40px auto;">

    <div class="section-head">
        <h1 class="section-title">Create Account</h1>
    </div>

    <article class="card form-card">

        <form method="post" class="form-layout">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label class="form-label">
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.errors %}
                        <div class="form-error">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn form-submit">
                Create Account
            </button>

        </form>

        <div class="form-footer">
            <a href="{% url 'login' %}">Already have account?</a>
        </div>

    </article>

</section>
{% endblock %}
